body,h1,h3{
	margin:0;
}
a{
	text-decoration:none;
}
ol,li{
	list-style:none;
	padding:0;
}
ul,li{
	margin:0;
	padding:0;
}
img{
	vertical-align:top;
	border:none;
}
input{
	padding:0;
	border:none;
	border:1px solid #c3c3c3;
	
}
.fl{
	float:left;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
body{
	font-family:arial,"microsoft yahei";
}
.head{
	height:143px;
	margin-bottom:20px;
}
.border_bottom{
	border-bottom:1px solid #ddd;
}
.head .top_bar{
	height:30px;
	background-color:#2f2f2f;
}
.top_bar .bar_info{
	width:965px;
	margin:0 auto;
}
.top_bar .bar_list{
	width:497px;
	height:30px;
	float:right;
	color:#8b8b8b;
	font-size:12px;
	line-height:30px;
}
.bar_list a{
	color:#b5b5b5;
}
.bar_list .line{
	width:1px;
	height:12px;
	background-color:#3d3d3d;
	margin:8px 15px 0 10px;
}
.bar_list .green_damend{
	width:24px;
	padding-left:22px;
	background:url(../img/lvzhuan.jpg) 0 9px no-repeat;
}
.bar_list .pay_music{
	padding-left:22px;
	background:url(../img/pay_music.jpg) 0 6px no-repeat;
}
.head .main_head{
	height:113px;
	width:965px;
	margin:0 auto;
}
.main_head .logo{
	width:182px;
	height:0px;
	padding-top:113px;
	overflow:hidden;
	background:url(../img/head_logo.jpg) 0 32px no-repeat;
	margin-right:57px;
}
.main_head .nav{
	width:462px;
	height:113px;
	margin-right:36px;
}
.nav .nav_top{
	height:75px;

}
.nav_top .yinyueguan, .nav_top .mv, .nav_top .my_music, .nav_top .download{
	font:16px/36px "微软雅黑";
	color:#515151;
	text-align:center;
	padding-top:39px;
}
.nav_top .yinyueguan{
	background-color:#0dad51;
	color:#fff;
	width:88px;
}
.nav_top .mv{
	width:76px;
}
.nav_top .my_music{
	width:84px;
}
.nav_top .download{
	width:128px;
}
.nav .nav_bottom{
	font-size:12px;
	line-height:38px;
	height:38px;
	padding-left:21px;
}
.nav_bottom .line{
	width:1px;
	height:11px;
	margin:15px 19px 0 18px;
}
.nav_bottom a{
	color:#6e6e6e;
}
.nav_bottom .first_page{
	color:#0dad51;
}
.main_head .head_search{
	height:75px;
	width:228px;
	padding-top:38px;
}
.head_search .border{
	width:220px;
	height:31px;
	border:4px solid #f0f0f0;
	position:relative;
}
.head_search .search_music{
	width:218px;
	height:28px;
	padding-top:1px;
	font:12px/28px "微软雅黑";
	color:#c3c3c3;
}
.head_search a{
	display:inline-block;
	width:28px;
	height:28px;
	background:url(../img/search.jpg) 6px 9px no-repeat;
	position:absolute;
	top:0;
	left:190px;
}
.content{
	width:965px;
	margin:0 auto;
}
.content .content_left{
	width:700px;
	margin-right:40px;
}
.content_left .banne a{
	display:inline-block;
	width:700px;
	height:280px;
	margin-bottom:40px;
}
.online_send .head{
	width:685px;
	height:30px;
	border-left:5px solid #ff0000;
	padding-left:10px;
}
.head_left .title{
	width:110px;
	height:30px;
	text-indent:-9999px;
	background:url(../img/online_send.jpg) no-repeat;
	margin-right:10px;
}
.head_left .more{
	width:36px;
	height:30px;
	background:url(../img/pic_more.jpg) no-repeat;
	text-indent:-9999px;
}
.head .head_right{
	float:right;
	width:64px;
}
.head_right .pre_page, .head_right .next_page{
	width:31px;
	height:30px;
	text-indent:-9999px;
}
.head_right .pre_page{
	background:url(../img/ico-pre.jpg) no-repeat;
	margin-right:2px;
}
.head_right .next_page{
	background:url(../img/ico-next.jpg) no-repeat;
}
.online_send .item{
	margin-right:-10px;
}
.item .item_list{
	width:130px;
	height:130px;
	margin-right:12px;
	margin-bottom:10px;
	overflow:hidden;
	position:relative;
}
.item_list a{
	width:130px;
	height:130px;
}
.item_list .mark{
	width:100%;
	height:39px;
	position:absolute;
	left:0;
	bottom:0;
}
.item_list .bg, .item_list .text{
	width:100%;
	height:39px;
	position:absolute;
}
.item_list .bg{
	background-color:#000;
	opacity:0.5
}
.item_list .song_name{
	color:#0cc65b;
	text-indent:5px;
}
.item_list .singer{
	color:#fff;
	text-indent:5px;
}
.mv_play .head{
	width:685px;
	height:30px;
	border-left:5px solid #ff7800;
	padding-left:10px;
}
.mv_play .title{
	width:92px;
	height:30px;
	text-indent:-9999px;
	background:url(../img/mv_play.jpg) no-repeat;
	margin-right:13px;
}
.mv_play .more{
	width:36px;
	height:30px;
	text-indent:-9999px;
	background:url(../img/pic_more.jpg) no-repeat;
}
.mv_play{
	margin-right:-20px;
}
.mv_play .mv_list{
	margin-right:20px;
}
.mv_play .mv_pic{
	width:160px;
	height:90px;
	margin-bottom:5px;	
}
.mv_play .mv_songname, .mv_play .mv_info, .mv_play .mv_tag, .mv_play .date{
	width:160px;
	font-size:12px;
	line-height:23px;
	color:#8b8b8b;	
}
.mv_play .mv_songname{
	color:#0c8f44;
}
.mv_play .mv_singer{
	color:#515151;
}
.mv_play .mv_tag{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.mv_list .date{
	margin-bottom:20px;
	float:right;
	text-align:right;
}
.recommend{
	margin-right:-10px;
	margin-top:10px;
}
.recommend .new_recommend, .recommed .hot_recommend{
	width:340px;
	margin-right:10px;
}
.new_recommend .head{
	border-left:5px solid #0dad51;
	width:325px;
	height:30px;
	padding-left:10px;
	margin-bottom:12px;
}
.new_recommend .title{
	width:111px;
	height:30px;
	text-indent:-9999px;
	margin-right:8px;
	background:url(../img/new-recommend.jpg) no-repeat;
}
.new_recommend .btn_play,.new_recommend .btn_add{
	margin-right:10px;
	width:30px;
	height:30px;
	text-indent:-9999px;
}
.new_recommend .btn_play{
	background:url(../img/btn-play.jpg) no-repeat;
}
.new_recommend .btn_add{
	height:30px;	
	background:url(../img/btn-add.jpg) no-repeat;
}
.new_recommend .head_right{
	float:right;
	font-size:12px;
	line-height:30px;
	width:121px;
	text-align:left;
}
.head_right .active_color{
	color:#000;
}
.new_recommend a{
	color:#0c8f44;
}
.new_recommend .line{
	width:1px;
	height:12px;
	background-color:#d8d8d8;
	margin:10px 8px 0 7px;
} 
.recommed_list .item_list{
	width:350px;
	height:36px;
	font-size:14px;
	color:#515151;
	line-height:36px;
}
.recommed_list .song_name{
	width:196px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	text-align:left;
	height:36px;
}
.content .omnibus{
	width:700px;
	font-size:12px;
}
.content .omnibus a{
	color:#0c8f44;
}
.omnibus .head{
	width:700px;
	height:30px;
	border-left:5px solid #f3508d;
	padding-left:10px;
	margin-top:13px;
	margin-bottom:18px;
}
.omnibus .title{
	width:81px;
	height:30px;
	background:url(../img/omnibus_head.jpg) no-repeat;
	text-indent:-9999px;
}
.omnibus .omnibus_left{
	width:270px;
	margin-right:15px;
}
.omnibus_left .omnibus_pic{
	display:block;
	width:270px;
	height:270px;
}
.omnibus_left .omnibus_info{
	height:22px;
}
.omnibus_left .omnibus_tag{
	height:26px;
	color:#8b8b8b;
}
.omnibus .omnibus_right{
	width:426px;
	margin-right:-12px;
}
.omnibus_right .omnibus_list{
	width:130px;
	height:158px;
	margin-right:12px;
	margin-bottom:28px;
}
.omnibus_list .list_pic{
	display:block;
	width:130px;
	height:130px;
}
.omnibus_list .list_info{
	height:28px;
	line-height:28px;
}
.content .content_right{
	width:220px;
	height:100px;
}
.content_right .item_login{
	width:195px;
	height:80px;
	border-bottom:1px solid #e4e4e4;
	background:url(../img/ico-find.jpg) no-repeat;
	padding:55px 0 0 25px;
	margin-bottom:20px;
}
.item_login .user_login{
	display:block;
	width:170px;
	height:45px;
	background:url(../img/uesr-login.jpg) no-repeat;
	text-indent:-9999px;
}
.content_right .banne_img{
	display:block;
	width:220px;
	height:101px;
	overflow:hidden;
	margin-bottom:25px;
}
.content_right .item_billboard{
	width:220px;
	margin-bottom:13px;
	font-size:12px;
	color:#515151;
}
.item_billboard .title{
	width:54px;
	height:30px;
	background:url(../img/ico-billboard.jpg) no-repeat;
	margin-right:11px;
	text-indent:-9999px;
	margin-bottom:11px;
}
.item_billboard .play_btn{
	width:70px;
}
.item_billboard .btn_play{
	width:30px;
	height:30px;
	background:url(../img/btn-play.jpg) no-repeat;
	text-indent:-9999px;
	margin-right:10px;
}
.item_billboard .btn_add{
	width:30px;
	height:30px;
	background:url(../img/btn-add.jpg) no-repeat;
	text-indent:-9999px;
}
.item_billboard .billboar_type{
	height:16px;
	line-height:16px;
	margin-bottom:17px;
}
.item_billboard a{
	color:#0c8f44;
}
.billboar_type .line{
	display:block;
	width:1px;
	height:12px;
	background-color:#d8d8d8;
	margin:3px 9px 0 7px;
}
.billboar_type .color{
	color:#000;
	font-weight:bold;
}
.item_billboard .billboar_list{
	padding-bottom:15px;
	border-bottom:1px dashed #aaa;
	margin-bottom:13px;
}
.billboar_list .no_1{
	width:220px;
	height:50px;
	font-size:22px;
	color:#ff5400;
	margin-bottom:1px;
}
.no_1 .arrange_no1{
	color:#ff5400;
	width:42px;
}
.billboar_list .arrange{
	padding-left:1px;
	height:24px;
	line-height:24px;
	width:42px;
	color:#aaaaaa;
	text-align:left;
}
.no1_info .no1_info a{
	display:block;
	color:#ff5400;
}
.no1_info .singer{
	color:#515151;
	font-size:12px;
	display:block;
}
.no_1 img{
	margin-right:11px;
}
.other_arrange .other_info{
	width:177px;
	height:24px;
	line-height:24px;
}
.other_info .song_name{
	width:80px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.other_info .singer{
	float:right;
	width:70px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	text-align:right;
}
.content_right .billboard_type{
	width:220px;
	padding-bottom:14px;
	border-bottom:1px solid #aaa;
	margin-bottom:27px;
}
.billboard_type .billboar_area{
	height:24px;
	margin-right:-20px;
}
.billboar_area .billboar_name{
	width:60px;
	height:24px;
	font-size:12px;
	line-height:24px;
	color:#515151;
	margin-right:20px;
}
.content_right .hot_singer{
	width:220px;
	border-bottom:1px dashed #aaa;
	margin-bottom:13px;
}
.hot_singer .hot_head{
	height:17px;
	margin-bottom:19px;
}
.hot_head .title{
	width:72px;
	height:17px;
	text-indent:-9999px;
	margin-right:7px;
	background:url(../img/hot-singer.jpg) no-repeat;
}
.hot_head .more{
	width:36px;
	height:17px;
	text-indent:-9999px;
	background:url(../img/hot-more.jpg) no-repeat;
}
.hot_singer .item_singer{
	margin-right:-34px;
}
.item_singer .singer_list{
	margin-bottom:17px;
	margin-right:34px;
}
.singer_list a{
	display:inline-block;
	height:50px;
	width:50px;
	overflow:hidden;
	color:#0c8f44;
	font-size:12px;
}
.singer_list .singer_name{
	width:50px;
	height:16px;
	line-height:16px;
}
.content_right .singer_type{
	width:220px;
	border-bottom:1px solid #aaa;
	margin-bottom:20px;
}
.singer_type .type_list{
	height:24px;
	margin-right:-23px;
}
.type_list a{
	width:60px;
	line-height:24px;
	margin-right:21px;
	font-size:12px;
	color:#515151;
}
.content_right .wonderfull{
	width:220px;
	border-bottom:1px solid #aaa;
	margin-bottom:19px;
}
.wonderfull .head{
	height:17px;
}
.wonderfull .title{
	height:17px;
	width:73px;
	background:url(../img/ico-huodong.jpg) no-repeat;
	text-indent:-9999px;
	margin-bottom:20px;
}
.item_active .active_pic{
	width:220px;
	height:88px;
	overflow:hidden;
}
.item_active .active_info{
	height:25px;
	line-height:25px;
	font-size:12px;
	color:#0c8f44;
	margin-bottom:6px;
}
.foot{
	margin-top:110px;
	background-color:#f7f7f7;
}
.foot a{
	color:#515151;
	font-size:12px;
}
.foot .item_foot{
	margin:0 auto;
	width:928px;
	padding-top:29px;
	padding-left:50px;
	font-size:12px;
}
.item_foot .foot_top{
	margin-bottom:50px;
}
.foot_top .item_left{
	width:277px;
	text-align:left;
	margin-right:79px;
}
.item_left .title{
	width:64px;
	height:32px;
	font-size:16px;
	color:#757585;
}
.item_left .download_list{
	word-spacing:15px;
	height:26px;
	line-height:26px;
}
.foot_top .item_middle{
	width:125px;
	text-align:left;
	margin-right:79px;
}
.item_middle .title{
	width:64px;
	height:32px;
	font-size:16px;
	color:#757585;
}
.item_middle .download_list{
	word-spacing:15px;
	height:26px;
	line-height:26px;
}
.foot_top .item_right{
	width:368px;
	text-align:left;
}
.item_right .title{
	width:64px;
	height:32px;
	font-size:16px;
	color:#757585;
}
.item_right .download_list{
	word-spacing:15px;
	height:26px;
	line-height:26px;
}
.foot .foot_bottom{
	width:501px;
	margin:0 auto;
	font-size:12px;
	color:#8b8b8b;
	line-height:24px;
	text-align:center;
}
.foot_bottom a{
	font-size:12px;
	color:#515151;
}
.foot_bottom .line{
	width:1px;
	height:11px;
	margin:7px 4px 0 3px;
	background-color:#af8baf;
}
